<ion-modal-view class="transparent">

	<ion-header-bar class="transparent">
      <h1 class="title titulo">Iniciar Sesión</h1>
			<button class="button button-assertive" ng-click="cerrar(2)">Close</button>
	</ion-header-bar>

	<ion-content class="padding " ng-controller="AuthCtrl">

    <form ng-submit="loginAuth(user)">

        <label class="item item-input">
          <span class="input-label">Correo electronico</span>
          <input type="text" ng-model="user.email" autofocus>
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="user.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" href="#" >Iniciar Sesión</button>
        </label>

    </form>    

	</ion-content>

</ion-modal-view>