<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Inicia sesión</h1>
		<div class="buttons">
			<button class="button button-assertive" ng-click="cerrar(2)">Close</button>
		</div>
	</ion-header-bar>
	<ion-content class="padding" ng-controller="AuthCtrl">
    <form ng-submit="listener()">
        <label class="item item-input">
          <span class="input-label">Correo electronico</span>
          <input type="text" ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="user.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive"  ng-click="loginAuth()" >Iniciar Sesión</button>
        </label>
    </form>    
	</ion-content>
</ion-modal-view>