<ion-view view-title="Cafés">
  <ion-content>
    <div ng-controller = "DataCtrl">
      <div ng-repeat="items in cafeData" class="list card">
        <div class="list card">
        
          <div class="item item-divider">
            <span>{{items.Nombre}}</span>
            <p>{{items.Categoria}}</p>
          </div> 
          <div class="item item-body">
            <img class="full-image" ng-src="{{items.Img}}">
              <p>
                {{items.Descripcion}}
              </p>
          </div>
        </div>
        <input type="text" ng-model="items.Cantidad">
        <button class="button button-positive" ng-click="addProducto(items)"> 
        <i class="ion-android-add-circle"></i>
        $ {{items.Precio}}
        </button>  
      </div>
    </div>  
  </ion-content>
</ion-view>
