<ion-view view-title="Comidas">
  <ion-content class="fondo">

    <div ng-controller = "DataCtrl">
      <div ng-repeat="items in comidasData" class="list card transparent">
        <div class="list card">        
          <div class="item item-divider">
            <span>{{items.Nombre}}</span>
            <p>{{items.Categoria}}</p>
          </div> 
          <div class="item item-body">
            <img class="full-image" ng-src="{{items.Img}}">
              <p>
                {{items.Descripcion}}
              </p>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="button button-positive" ng-click="addProducto(items)"> 
            <i class="ion-android-add-circle"></i>
            ${{items.Precio}} Agregar
            </button>
          </div>
        </div>  
      </div>
    </div>

  </ion-content>
</ion-view>
