.container h1{
    margin:auto;
    text-align: center;
    margin-bottom: 25px;
}

.custom {
  background-color: #3f4041 !important; /* Cambia el color de fondo*/
 }

/*background de cada ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}

/*cambia el borde del ultimo item*/
.custom .item:last-child {
  border-bottom: 1px solid #666;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}
/*custom is class added to ion-content*/
 
.custom {
  background-color: #3f4041 !important; /* This sets the background color*/
 }
 
/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}
 
/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #666;
}
 
.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}
 
/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}


/*-----------------Login css-------------------------------------------------------*/

.login-container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 100%;
  background-image:url("https://firebasestorage.googleapis.com/v0/b/shabbatcoffe.appspot.com/o/landing.jpg?alt=media&token=384779e1-bf6f-49c1-88d8-e9043bb070c7");
  background-color: #lightgrey;
  background-size: cover;
}

.login-container > .button-row img {
    max-width: 80%;
}

.login-container > .header {
    -webkit-flex: 4;
    padding-top: 20px;
}

.login-container .adicional{
  color: white;
}

.login-container .adicional a{
  text-decoration: none;
}
/*-----------------Shopping cart css--------------------------*/

.productos .row{
  color:white;
  padding: 15px;
  margin: 0px;
  background-color: #3F4041;
}

.productos .row .col{
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.items .row{
  padding: 0px;
  margin: 0px;
  border: 1px solid silver;
}

.items .row .col{
  border-left: 1px solid silver;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.container .items .row .text{
  color:white;
  width: 25px;
  padding: 0;
  border-bottom: solid 2px #0099e5;
}

.items .row .col .remove{
  width: 10px;
}

.total .row {
  border: 2px solid lightgrey;
}

.total button{
  margin: 10px;
}

.total{
  font-weight: bold;
  font-size: 17px;
}
.container .col{
  font-weight: bold;
}

.container .row{
  margin:.5em auto;
}

.text{
  background: transparent;
}

.alerta{
  color: #ce1126;
  font-size: 16px
}
/*-----------------------Modal view-------------------------------------------*/

.titulo {
  color: lightgrey;
}

.transparent{
    background:rgb(0,0,0);  
    background: transparent\9;  
    background:rgba(0,0,0,0.4); 
}


/*---------------------------Plantillas---------------------------------------------------------*/
.fondo{
  background-image:url("../img/wood2.jpg");
  background-size: cover;
}

/*------------------------Tarjeta de crédito aceptadas-----------------------------------------------------*/

@media(max-width:742px){

  .tarjetas{
    margin:10px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
  }

  .tarjeta1{
    padding-bottom:10px;
    border-bottom:solid 2px lightgrey;
    width: 100%;
  }

  .tarjeta1 p{
    text-align: center;
  }

  .tarjeta1 img{
    width: 200px;
    height: auto;
    margin: auto;
    display: block;
  }

  .tarjeta2{
    margin-top: 10px;
  }

  .tarjeta2 p{
    text-align: center;
  }

  .tarjeta2 img{
    margin:auto;
    padding: auto;
    display: block;
  }
}

@media (min-width: 743px){

  .tarjetas{
    width: 100%;
    margin:10px 0 10px 0;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
  }

  .tarjeta1{
    width: 50%;
    display: inline-block;
    border-right: solid 2px lightgrey;   
  }

  .tarjeta1 p{
    font-weight: bold;
    text-align: center;
  }

  .tarjeta1 img{
    margin:auto;
    padding: auto;
    display: block;
    width: auto;
  }

  .tarjeta2{
    width: 45%; 
    display: inline-block;
  }

  .tarjeta2 p{
    text-align: center;
  }

  .tarjeta2 img{
    margin: auto;
    padding: auto; 
    display: block;
    width: auto;
  }
  
}
/*-----------------Formulario de pagos-----------------------*/
@media (max-width: 742px){


.form{
  width: 100%;
  background-color:#3F4041;
  background: transparent;
  font-weight: bold;
  margin:auto;
  padding:10px;
  color: white;
}

  .form label{
    font-size: 25px;
    display:inline-block;
    padding: 0px;
    margin: 0px;
    width: 25px;
  }

  .form input{
    font-size: 18px;
    width: 80%;
    padding: 0px;
    margin-bottom:8px;
    display: inline-block;
    border-radius: 4px; 
    background: transparent;
    border-bottom: solid 1px lightgrey;
    font-weight: bold;
    color: black;
    text-align: center;
  }
  
  .form ::-webkit-input-placeholder{
    color:black;
  }

  .centrar{
    display: block;
    text-align: center;
    margin:25px;
  }

  .centrar .exp_year{
    width: 42%;
    display: inline-block;
  }

  .separador{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .centrar .exp_month{
    width: 45%;
    display: inline-block;
  }

  .form .centrar_btn{
    margin: 45px auto;
    padding: auto;
    display: block;
  }
  
  .form .cvv{
    width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
    padding: auto;
  }

}

@media(min-width:743px){

  .form{
    padding:15px;
    background-color:#C2C2F7;
    background: transparent;
    margin:auto;
    width: 800px;
    font-weight: bold;
    color: black;
  }

  .form label{
    font-size: 25px;
    display:inline-block;
    padding: 0px;
    margin: 0px;
    width: 25px;
  }

  .form input{
    font-size: 18px;
    width: 80%;
    padding: 0px;
    margin-bottom:8px;
    display: inline-block;
    border-radius: 4px; 
    background: transparent;
    border-bottom: solid 1px lightgrey;
    font-weight: bold;
    color: black;
    text-align: center;
  }
  
  .form ::-webkit-input-placeholder{
    color:black;
  }

  .centrar{
    display: block;
    text-align: center;
    margin:25px;
  }

  .centrar .exp_year{
    width: 42%;
    display: inline-block;
  }

  .separador{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .centrar .exp_month{
    width: 45%;
    display: inline-block;
  }

  .form .centrar_btn{
    margin: 45px auto;
    padding: auto;
    display: block;
  }
  
  .form .cvv{
    width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
    padding: auto;
  }

}
/*--------------------Carrito de compras---------------------*/

/*
.buy{
  position: absolute;
  padding: 0.5em 3em;
  margin: 1em 25%;
}
*/


/*.my-container {
    background-image:  url("http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg");
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    position: absolute;
}
.transp .item-content {
    background-color: transparent !important;
    color: #fff;
}
*/